/* font-family: 'Lato', sans-serif; 300 400 700 */

header{
    background-color: #001829;
    color: #D6EEFF;
    padding: 3% 0%;
    margin-bottom: 5%;
}
header h1 {
    margin-left: 5%;
    font-weight: 700;
}
body {
    background-color: #D6EEFF;
    font-family: 'Lato', sans-serif;
}
.standings{
    margin-bottom: 10%;
}
header a{
    margin-left: 5%;
    font-weight: 400;
    color: #D6EEEF;
}
header a:hover {
    color: #3F9EA2;
}
.standings li a{
    font-size: 1.5em;
    font-weight: 400;
    color: #001829;
}
.standings li a:hover{
    color: #3F9EA2;
}
.fullarticle p {
    font-weight: 400;
    color: #001829;
    font-size: 1.2em;
}
img{
    margin: 7% 10% 3% 0%;
    width: auto;
}
.caption {
    font-weight: 400;
    font-size: .9em;
}
.fwdtable table{
    border-spacing: 0 10px;
    margin: 0 15%;
    border-collapse: separate;
}
.fwdtable td, th {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    color: #001829;
    font-weight: 400;
}

.dpairtable table{
    border-spacing: 0 10px;
    border-collapse: separate;
    margin: 0 24%;
}

.dpairtable td, th {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    color: #001829;
    font-weight: 400;
}

.goalietable table{
    border-spacing: 0 10px;
    border-collapse: separate;
    margin: 0 33%;
}

.goalietable td, th {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    color: #001829;
    font-weight: 400;
}

.teambreakdown {
    margin-top: 2%;
    margin-right: 30%;
}

.teamtext p {
    text-align: center;
    margin: 3% 10%;
    font-weight: 400;
}

footer {
    font-weight: 400;
    font-size: 1.1em;
    margin: 2% 0;
}
footer a{
    color: #001829;
}
footer a:hover{
    color: #3F9EA2;
}
@media (max-width:600px){
    img{
        width: 0px;
    }
    .caption {
        display: none;
    }
    .fwdtable table{
        margin: 0 0;
    }
    .dpairtable table{
        margin: 0 10%;
    }
    .teambreakdown {
        margin: 10% 0%;
    }
    footer {
        font-size: .9em;
    }
}
@media (max-width:800px){
    .dpairtable table {
        margin: 0 29%;
    }
    .goalietable table {
        margin: 0 39%;
    }
    .teambreakdown {
        margin: 5% 0%;
    }
    .teamtext p{
        text-align: center;
        margin: 0 10% 3% 0;
    }
    footer {
        font-size: .8em;
    }
}


